* {
    font-family: 'Work Sans', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

